





<div class="jumbotron d-flex align-items-center">
    <div class="container text-center">
        <h1 class="display-2 mb-4">Message Received!</h1><br />
        <h3>Thank you for contacting me.</h3><br /><br />
        <p>I will reach back out to you as soon as possible.</p>
       
            <img class="mt-5" src="~/img/EmailConfirmation.jpg" width="55%" />
        </p>
    </div>
</div>		
