@{
    ViewData["Title"] = "Natalie Kuechler | Web Developer";
}

<!-- Main Beginning -->
<div class="jumbotron d-flex align-items-center">
    <div class="container text-center">
        <article class="container">
            <h1 class="mt-1">Natalie Kuechler</h1>
            <h4 style="font-family: Comfortaa">Full Stack Web Developer Since 2022</h4><br>
            <div class="row">
                <div class="col">
                    <h2>Welcome to my Page!</h2><br>
                    <img class="profilepic" src="~/img/Profile Picture.jpg" alt="profile picture" />
                    <br><br>
                    <h3>I look forward to helping your image come to life on the web!</h3>
                    <br>
                    <button type="button" class="btn btn-secondary">
                        <a style="font-size: larger; color: azure;" asp-controller="Home" asp-action="Resume">View Resume</a>
                    </button>
                    <button type="button" class="btn btn-secondary">
                        <a style="font-size: larger; color: azure;" asp-controller="Home" asp-action="Contact">Contact Me</a>
                    </button><br><br>
                </div><br>

                <div class="col">
                    <p>
                        <br>I am currently participating in a Full Stack Coding Program at Centriq and have a current graduation date of January 20th, 2023. My passion for web development stems back to my teenage years when I had began to teach myself HTML by utilizing personal social media pages such as Myspace and Xanga. I loved being able to use code to manipulate the design of the page and thought it was a fascinating way to make it look however I wanted. I then began taking web development classes in High School and the passion grew. I ended up pressing pause to develop my customer service skills at a few different restaurants. After about 8 years in the industry, I moved over to retail where I developed my customer service skills further as a sales associate at a local furniture store. My creative flame re-ignited as I was reminded how much I love design. A few years later I was promoted to a Store Manager and then managed at 3 of the 4 different locations over a span of about 4 years. In the middle of 2022 I had decided I was ready to move in a different direction with my career and recalled the passion I had for web development at a young age. I decided to pursue that passion and am happy to be here sharing it with you! <br>
                    </p>
                </div>
            </div>

    </div>
</div>
<!-- Client Section -->

<section id="badges" class="mt-0">
    <div class="container">
        <div class="section-content">
            <!-- Section Title -->
            <div class="title-wrap">
                <h2 class="section-title">
                    Badges <b> Earned</b>
                </h2>
                <p>
                    I worked hard during my time at Centriq! <br>Below are the badges I have earned as a result.<br>
                    <h4><strong>COMING SOON!</strong></h4>



            </div>
            <!-- End of Section Title -->
            <div class="row">
                <div class="col-md-2">
                    <!-- Client Item -->
                    <div class="client-item">
                        <img class="img-responsive" src="~/img/badgesplaceholder.jpg" alt="">
                    </div>
                    <!-- End of Client Item  -->
                </div>
                <div class="col-md-2">
                    <!-- Client Item -->
                    <div class="client-item">
                        <img class="img-responsive" src="~/img/badgesplaceholder.jpg" alt=" ">
                    </div>
                    <!-- End of Client Item -->
                </div>
                <div class="col-md-2">
                    <!-- Client Item  -->
                    <div class="client-item">
                        <img class="img-responsive" src="~/img/badgesplaceholder.jpg" alt=" ">
                    </div>
                    <!-- End of Client Item -->
                </div>
                <div class="col-md-2">
                    <!-- Client Item  -->
                    <div class="client-item">
                        <img class="img-responsive" src="~/img/badgesplaceholder.jpg" alt=" ">
                    </div>
                    <!-- End of Client Item  -->
                </div>
                <div class="col-md-2">
                    <!-- Client Item  -->
                    <div class="client-item">
                        <img class="img-responsive" src="~/img/badgesplaceholder.jpg" alt=" ">
                    </div>
                    <!-- End of Client Item  -->
                </div>
                <div class="col-md-2">
                    <!-- Client Item  -->
                    <div class="client-item">
                        <img class="img-responsive" src="~/img/badgesplaceholder.jpg" alt=" ">
                    </div>
                    <!-- End of Client Item -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Client Section -->
<!-- BLOWOUT BUTTON -- <a class="img-pop" data-rel="lightcase" href="IMAGE" title="IMG TITLE">
    <span class="lnr lnr-move"></span> -->
        </a>

<section id="projects">
    <div class="container">
        <div class="section-content">
            <div class="title-wrap">
                <h2 class="section-title">Portfolio  <b>Projects</b></h2>
                <p class="section-sub-title">
                    There was a lot of time and effort dedicated to the projects I created during my time during Centriq.
                    <br>Please see below for the projects I completed for the track. I have also included the details of a
                    <br>personal project I have created to assist others in the community.<br><br>
                </p>
            </div>

            <div class="row text-center">
                <div class="col-md-4 col-sm-6">
                    <img class="rounded-circle" src="~/img/DungeonApp.jpg" alt="Dungeon App" width="140" height="140">

                    <h3 class="mb-4 mt-4">Dungeon Application</h3>
                    <p>A game created in Microsoft Visual Studio by utilizing my C# skills. This demonstrates my ability to break down multi-stage proccesses into steps and to design complex logical structures.<br></p>
                    <button type="button" class="btn btn-secondary">
                        <a style="color: azure;" href="http://github.com/nataliekuechler/DungeonApplication">
                            View On GitHub
                    </button>
                </div>
                <!-- /.col-md-4 col-sm-6  -->
                <div class="col-md-4 col-sm-6 ">
                    <img class="rounded-circle" src="~/img/Storefront.jpg" alt="Storefront" width="140" height="140">
                    <h3 class="mb-4 mt-4">Storefront Database</h3>
                    <p>Created a Storefront application that showcases my ability to build full stack web applications. Made a mock e-commerce site based on the furniture store I previously worked at.</p>
                    <button type="button" class="btn btn-secondary">
                        <a style="color: azure;" href="/">
                            View Details
                    </button>
                </div>
                <!-- /.col-md-4 col-sm-6  -->
                <div class="col-md-4 col-sm-6 ">
                    <img class="rounded-circle" src="~/img/watchthisspace.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h3 class="mb-4 mt-4">ToDo API</h3>
                    <p>This Web API project showcases my ability to create a RESTful API that can be consumed by another application. The topic of this API is to provide the backend for a To Do list application. The application provides all necessary endpoints to allow the consuming application to have full CRUD functionality for To Do items.</p>
                    <button type="button" class="btn btn-secondary">
                        <a style="color: azure;" href="/">
                            View Details
                    </button>
                </div>
                <!-- /.col-md-4 col-sm-6  -->
            </div>
            <!-- /.row -->
            <div class="row text-center">
                <div class="col-md-4 col-sm-6 ">
                    <img class="rounded-circle" src="~/img/watchthisspace.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h3 class="mb-4 mt-4">React ToDo</h3>
                    <p>This portfolio project demonstrates my ability to build single page applications using React JS. The application allows users to sign in and see items on their To Do list. Users are able to add, edit, delete, or mark To Do items as complete.</p>
                    <button type="button" class="btn btn-secondary">
                        <a style="color: azure;" href="/">
                            View Details
                    </button>
                </div>
                <!-- /.col-md-4 col-sm-6  -->
                <div class="col-md-4 col-sm-6 ">
                    <img class="rounded-circle" src="~/img/watchthisspace.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h3 class="mb-4 mt-4">Storefront MVC</h3>
                    <p>Created a Storefront application that showcases my ability to build full stack web applications. Made a mock e-commerce site based on the furniture store I previously worked at. The functionality of this application will be expanded throughout my MVC class.</p>
                    <button type="button" class="btn btn-secondary">
                        <a style="color: azure;" href="/">
                            View Details
                    </button>
                </div>
                <!-- /.col-md-4 col-sm-6  -->
                <div class="col-md-4 col-sm-6 ">
                    <img class="rounded-circle" src="~/img/watchthisspace.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h3 class="mt-4">Young Widow(er)s Circle</h3>
                    <h4 class="mb-4">Grief Support Site</h4>
                    <p>This is a personal project I am in the process of developing for the grief support group I help facilitate. This website is still under development so please check back at a later time for updates. </p>
                    <button type="button" class="btn btn-secondary">
                        <a style="color: azure;" href="/">
                            View Details
                    </button>
                </div>
                <!-- /.col-md-4 col-sm-6  -->
            </div>
            <!-- /.row -->
        </div>
    </div>
</section>				<!-- Portfolio Section -->
        </article>


<section id="links">
    <div class="container">
        <div class="section-content">
            <!-- Section Title -->
            <div class="title-wrap">
                <h2 class="section-title">Classmate <b>Links</b></h2>
                <p class="section-sub-title">I was very fortunate to have such a wonderful group that I studied with during my time at Centriq. <br>Please click the links below to view their personal websites.</p>
            </div>
            <!-- End of Section Title -->
            <div class="row m-2">
                <!-- Portfolio Holder -->
                <div class="col-md-12 portfolio-holder">

                    <!-- Portfolio Content -->
                    <div class="grid-portfolio">
                        <div class="grid-sizer"></div>
                        <div class="gutter-sizer"></div>
                        <!-- Portfolio Item -->
                        <div class="grid-item minimalism">
                            <div class="grid-item-wrapper">
                                <img src="~/img/Brice.jpg" alt="portfolio-img" class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">
                                        <a class="ext-link" href="http://www.bricepaquette.com" target="_blank">
                                            <span class="lnr lnr-link"></span>
                                        </a>
                                    </div>
                                    <div class="grid-title">
                                        <h4 style="color:rgb(32, 5, 45);">Brice Paquette</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                        <!-- Portfolio Item -->
                        <div class="grid-item vintage">
                            <div class="grid-item-wrapper">
                                <img src="~/img/Colson.jpg" alt="portfolio-img" class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">
                                        <a class="ext-link" href="http://www.ColsonDonnerDev.com " target="_blank">
                                            <span class="lnr lnr-link"></span>
                                        </a>
                                    </div>
                                    <div class="grid-title">
                                        <h4 style="color:rgb(32, 5, 45);">Colson Donner</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                        <!-- Portfolio Item -->
                        <div class="grid-item creative grid-item-height">
                            <div class="grid-item-wrapper">
                                <img src="~/img/Evan.jpg" alt="portfolio-img" class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">

                                        <a class="ext-link" href="http://www.evannoeldev.com" target="_blank">
                                            <span class="lnr lnr-link"></span>
                                        </a>
                                    </div>
                                    <div class="grid-title">
                                        <h4 style="color:rgb(32, 5, 45);">Evan Noel</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                        <!-- Portfolio Item -->
                        <div class="grid-item creative">
                            <div class="grid-item-wrapper">
                                <img src="~/img/JD.jfif" alt="portfolio-img" class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">

                                        <a class="ext-link" href="http://www.jeffreycundiff.com" target="_blank">
                                            <span class="lnr lnr-link"></span>
                                        </a>
                                    </div>
                                    <div class="grid-title">
                                        <h4 style="color:rgb(32, 5, 45);">Jeffrey Cundiff</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                        <!-- Portfolio Item -->
                        <div class="grid-item vintage">
                            <div class="grid-item-wrapper">
                                <img src="~/img/Sean.jpg" alt="portfolio-img" class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">

                                        <a class="ext-link" href="http://www.thatssean.com" target="_blank">
                                            <span class="lnr lnr-link"></span>
                                        </a>
                                    </div>
                                    <div class="grid-title">
                                        <h4 style="color:rgb(32, 5, 45);">Sean Rice</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                        <!-- Portfolio Item -->
                        <div class="grid-item creative">
                            <div class="grid-item-wrapper">
                                <img src="~/img/devplaceholder.jpg" alt="portfolio-img" class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">

                                        <a class="ext-link" href="http://www.aaronfschmitt.com" target="_blank">
                                            <span class="lnr lnr-link"></span>
                                        </a>
                                    </div>
                                    <div class="grid-title">
                                        <h4 style="color:rgb(32, 5, 45);">Aaron Schmidt</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End of Portfolio Item -->
                    </div>
                    <!-- End of Portfolio Content -->
                </div>
                <!-- End of Portfolio Holder -->
            </div>
        </div>
    </div>
</section>

<!-- End of Portfolio Section -->
